<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>_id</key>
		<string>54649762449a8c4914000001</string>
		<key>bounds</key>
		<dict>
			<key>northeast</key>
			<dict>
				<key>lat</key>
				<real>50.45599000000001</real>
				<key>lng</key>
				<real>30.50925</real>
			</dict>
			<key>southwest</key>
			<dict>
				<key>lat</key>
				<real>50.44402</real>
				<key>lng</key>
				<real>30.42595</real>
			</dict>
		</dict>
		<key>name</key>
		<string>бульвар Тараса Шевченко</string>
		<key>passSubscriptions</key>
		<array/>
		<key>points</key>
		<string>gx{rHopvxD{C~]^H`B_StAmONoB_@M{GkBeJgCoCq@yHsBeGcBsIeC{GqBfFok@tA_P|@sKhByRtB_UtDia@bEce@|F_o@fDs_@XyC\_Dp@iHX}BRaAFYzAsPtCi[nAuNhC{Y~AmSdGsp@JoAOGWIw@fIe@nF</string>
		<key>from</key>
		<string>Шевченка</string>
		<key>to</key>
		<string>Пирогова</string>
		<key>numberOfSeats</key>
		<integer>1</integer>
		<key>schedule</key>
		<dict>
			<key>days</key>
			<array/>
			<key>interval</key>
			<integer>0</integer>
			<key>date</key>
			<string>2014-11-28T11:30:25Z</string>
		</dict>
	</dict>
	<dict>
		<key>_id</key>
		<string>54649762449a8c4914000001</string>
		<key>bounds</key>
		<dict>
			<key>northeast</key>
			<dict>
				<key>lat</key>
				<real>50.45599000000001</real>
				<key>lng</key>
				<real>30.50925</real>
			</dict>
			<key>southwest</key>
			<dict>
				<key>lat</key>
				<real>50.44402</real>
				<key>lng</key>
				<real>30.42595</real>
			</dict>
		</dict>
		<key>name</key>
		<string>бульвар Тараса Шевченко</string>
		<key>passSubscriptions</key>
		<array/>
		<key>points</key>
		<string>gx{rHopvxD{C~]^H`B_StAmONoB_@M{GkBeJgCoCq@yHsBeGcBsIeC{GqBfFok@tA_P|@sKhByRtB_UtDia@bEce@|F_o@fDs_@XyC\_Dp@iHX}BRaAFYzAsPtCi[nAuNhC{Y~AmSdGsp@JoAOGWIw@fIe@nF</string>
		<key>from</key>
		<string>Шевченка</string>
		<key>to</key>
		<string>Перова</string>
		<key>numberOfSeats</key>
		<integer>3</integer>
		<key>schedule</key>
		<dict>
			<key>days</key>
			<array/>
			<key>interval</key>
			<integer>0</integer>
			<key>time</key>
			<string>2014-11-28T11:30:25Z</string>
			<key>date</key>
			<string>2014-11-28T11:30:25Z</string>
		</dict>
	</dict>
	<dict>
		<key>_id</key>
		<string>54649762449a8c4914000001</string>
		<key>bounds</key>
		<dict>
			<key>northeast</key>
			<dict>
				<key>lat</key>
				<real>50.45599000000001</real>
				<key>lng</key>
				<real>30.50925</real>
			</dict>
			<key>southwest</key>
			<dict>
				<key>lat</key>
				<real>50.44402</real>
				<key>lng</key>
				<real>30.42595</real>
			</dict>
		</dict>
		<key>name</key>
		<string>бульвар Тараса Шевченко</string>
		<key>passSubscriptions</key>
		<array/>
		<key>points</key>
		<string>gx{rHopvxD{C~]^H`B_StAmONoB_@M{GkBeJgCoCq@yHsBeGcBsIeC{GqBfFok@tA_P|@sKhByRtB_UtDia@bEce@|F_o@fDs_@XyC\_Dp@iHX}BRaAFYzAsPtCi[nAuNhC{Y~AmSdGsp@JoAOGWIw@fIe@nF</string>
		<key>from</key>
		<string>Шевченка</string>
		<key>to</key>
		<string>Стуса</string>
		<key>numberOfSeats</key>
		<integer>1</integer>
		<key>schedule</key>
		<dict>
			<key>days</key>
			<array/>
			<key>interval</key>
			<integer>0</integer>
			<key>date</key>
			<string>2014-11-29T11:30:25Z</string>
		</dict>
	</dict>
	<dict>
		<key>_id</key>
		<string>54649762449a8c4914000001</string>
		<key>bounds</key>
		<dict>
			<key>northeast</key>
			<dict>
				<key>lat</key>
				<real>50.45599000000001</real>
				<key>lng</key>
				<real>30.50925</real>
			</dict>
			<key>southwest</key>
			<dict>
				<key>lat</key>
				<real>50.44402</real>
				<key>lng</key>
				<real>30.42595</real>
			</dict>
		</dict>
		<key>name</key>
		<string>бульвар Тараса Шевченко</string>
		<key>passSubscriptions</key>
		<array/>
		<key>points</key>
		<string>gx{rHopvxD{C~]^H`B_StAmONoB_@M{GkBeJgCoCq@yHsBeGcBsIeC{GqBfFok@tA_P|@sKhByRtB_UtDia@bEce@|F_o@fDs_@XyC\_Dp@iHX}BRaAFYzAsPtCi[nAuNhC{Y~AmSdGsp@JoAOGWIw@fIe@nF</string>
		<key>from</key>
		<string>Шевченка</string>
		<key>to</key>
		<string>Перова</string>
		<key>numberOfSeats</key>
		<integer>2</integer>
		<key>schedule</key>
		<dict>
			<key>days</key>
			<array/>
			<key>interval</key>
			<integer>0</integer>
			<key>date</key>
			<string>2014-12-04T11:30:25Z</string>
		</dict>
	</dict>
	<dict>
		<key>_id</key>
		<string>54649762449a8c4914000001</string>
		<key>bounds</key>
		<dict>
			<key>northeast</key>
			<dict>
				<key>lat</key>
				<real>50.45599000000001</real>
				<key>lng</key>
				<real>30.50925</real>
			</dict>
			<key>southwest</key>
			<dict>
				<key>lat</key>
				<real>50.44402</real>
				<key>lng</key>
				<real>30.42595</real>
			</dict>
		</dict>
		<key>name</key>
		<string>бульвар Тараса Шевченко</string>
		<key>passSubscriptions</key>
		<array/>
		<key>points</key>
		<string>gx{rHopvxD{C~]^H`B_StAmONoB_@M{GkBeJgCoCq@yHsBeGcBsIeC{GqBfFok@tA_P|@sKhByRtB_UtDia@bEce@|F_o@fDs_@XyC\_Dp@iHX}BRaAFYzAsPtCi[nAuNhC{Y~AmSdGsp@JoAOGWIw@fIe@nF</string>
		<key>from</key>
		<string>Шевченка</string>
		<key>to</key>
		<string>Перова</string>
		<key>numberOfSeats</key>
		<integer>10</integer>
		<key>schedule</key>
		<dict>
			<key>days</key>
			<array/>
			<key>interval</key>
			<integer>0</integer>
			<key>date</key>
			<string>2014-12-03T11:30:25Z</string>
		</dict>
	</dict>
</array>
</plist>
